@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
$text-color: #747373;
$header-height: 60px;
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Set a background color for the body */
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  /* padding-bottom: 200px; */
  height: max-content;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  box-sizing: border-box;
  background: #842434;
  padding: 0 50px 10px 50px;
  height: $header-height;
  z-index: 999;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-title h1 {
  font-size: 24px;
  color: white;
}

.logout-button {
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Add a smooth transition effect */

  text-decoration: none; /* Remove the underline */
}

/* Change the background color and add a stronger shadow on hover */
.logout-button:hover {
  background: #f0f0f0; /* Change to your desired hover background color */
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); /* Enhance the shadow on hover */
}

.bg-text {
  height: 70%;
  width: 70%;
}

.bg-text h2 {
  text-align: center;
}

.category {
  background-color: #cccccc;
  position: relative;
  cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext, .category .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #842434;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 50%;
    margin-left: -80px;
}

.category .popuptext {
  bottom: 70%;
}

.popup .popuptext {
  bottom: 125%;
}

.popup .popuptext::after, .category .popuptext::after {
    content:"";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #842434 transparent transparent transparent;
}

.popup .show, .category .show {
    visibility: visible;
}

.option-button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #842434;
    cursor: pointer;
    margin: 5px;
}

.option-button:hover {
    background-color: transparent;
    color:white;
}

/* Style for the submit button */
.submit-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust the padding as needed to control the button's size */
    border: none;
    border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
    background-color: #842434; /* Red background color */
    color: white; /* White font color */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; /* Hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  
    /* Additional styles for better button appearance */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* Hover effect for the submit button */
.submit-button:hover {
  background-color: #842434; /* Red background on hover */
  color: white; /* White font color on hover */
  transform: translateY(-2px); /* Move the button up by 2px on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase the drop shadow on hover */
}